<header class="d-flex flex-wrap justify-content-end align-items-center mb-3 mb-md-0 me-md-auto border-bottom">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/hi/about">Про проект</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:3000/users/new">Створити користувача</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:3000/hi/all_users">Показати всіх користувачів</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:3000/hi/destroy_users">Видалити всіх користувачів</a>
    </li>
  </ul>
</header>