<html>
<head><title>Hi <%= @stud %>!</title></head>
<body>
    <h3>Лабораторна робота № 9</h3>
    <h5>9.1 Завдання для виконання</h5>
    <p>
        В лабораторній роботі №8 було створено просту аплікацію для реєстрування користувачів. 
        В цій роботі потрібно додати зручності для роботи з додатком і додати оформлення.
    </p>

    <p>Послідовність виконання завдань:</p>    
    <ol>
        <li> Відкрити проект ЛР8;</li>
        <li> Додати до проекту хедер і футер [1].</li>
        <li> У футері розмістити контактну інформацію про розробника.</li>
        <li> Приєднати до проекту фреймворк Bootstrap [2].</li>
        <li> Вибрати один із готових шаблонів в розділі Navs & Tabs [3],
        розмістити його у хедері свого проекту.</li>
        <li> До пунктів навігації приєднати такі дії "Про проект", "Створити
        користувача", "Показати всіх користувачів", "Видалити всіх користувачів".
        Дія "Про проект" повинна відображати завдання до цієї лабораторної
        роботи.</li>
        <li> Видалити дії, які є на сторінках, і продубльовані в навбарі.</li></p>
    </ol>
</body>
</html>
